@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 1050px) {
    .bg {
        background-image: url(../assets/image-hero-desktop@2x.png);
        background-repeat: no-repeat;
        background-size: 990px 930px;
        background-position: right -250px top -180px;
    }
}


@media (max-width: 768px) {
    .bg {
        background-image: url(../assets/image-hero-tablet@2x.png);
        background-repeat: no-repeat;
        background-size: 640px 640px;
        background-position: left 350px top -40px;
    }
}
